body {
    height: 100vh;
  }

.container {
    display: grid;
    grid-template-columns: minmax(750px, 75%), minmax(250px, 25%);
    place-items: center;
    justify-items: center;
    align-items: stretch;
}

:root {
    --grid-columns: 1;
    --grid-rows: 1;
    background: wheat;
  }

#etcha {
    display: grid;
    border-style: dashed;
    align-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    grid-column: 1 / 2;
    grid-row-start: 1;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    min-height: 90vh;
    min-width: 90vh;
    max-height: 90vh;
    max-width: 90vh;
    overflow: hidden;
    background-color: wheat;
    border: 3px solid orange;
    grid-gap: 1px;
}

.navigation {
    background: skyblue;
    border: 3px solid orange;
    height: 90vh;
    width: 50vh;
    display: grid;
    grid-column-start: 2;
    place-items: center;
    justify-items: center;
    align-items: center;
}

.navi-items {
    display: grid;
    place-items: center;
}