.container {
    display: grid;
    grid-template: 30% 70% / 70% 30%;
    grid-area: 
        "header header"
        "container navbar";
    justify-items: center;
    align-items: center;
    column-gap: 10px;
    row-gap: 15px;    
}

.title {

}

:root {
    --grid-columns: 1;
    --grid-rows: 1;
  }

.grid-item {
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
  }

#etcha {
    background: azure;
    height: 500px;
    width: 660px;
    grid-column-start: 1;
    grid-row-start: 2;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-columns), 1fr);    

}

.navigation {
    grid-column-start: 2;
    grid-row-start: 2;
}